requests==2.31.0
beautifulsoup4==4.12.2
firebase-admin==6.4.0
google-cloud-firestore==2.16.0
flask==3.0.0
gunicorn==21.2.0
lxml==4.9.3
selenium==4.15.2
webdriver-manager==4.0.1
importlib-metadata==6.8.0
